#commtext-popup {
    background-color: #F2F2F2 !important;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 450px;
    z-index: 9999;
    display: none;
}

#commtext-textarea-container {
    margin:  10px;
}
#commtext-textarea-container textarea {
    width:  100%;
}
#commtext-textarea-container button {
    margin-top: 10px;
    float: right;
}

#commtext-popup__nav {
    height: 60px;
}

#commtext-popup__nav__close-btn {
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}

#popup__nav__logo {
    margin-top: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    float: right;
}

#popup-tags {
    margin:  10px;
}

#popup-tags textarea {
    width: 100%
}

#popup-tags button {
    margin-top: 10px;
    float: right;
}

#popup-tags__tags {
    margin-top: 20px;
    margin-bottom: 20px;
}

#popup-tags__tags span {
    border: 14px solid black;
    background-color: black;
    color: #fff;
    border-radius: 42%;
}